@media screen and (max-width:375px) {
    .main{
        height: 800px;
        width: 1250px;
        flex-direction: column;
        margin: 0;
        
        

        
    }
    .form1{
        width: 375px;
        height: 700px;

    }
    .form2{
        width: 375px;
        height: 700px;
    }
    .link a{
       
    }
    .responsive-heading{
        display: block;
    }
    .Profile{
        margin-top: 20px;
    }
    .card{
        width: 300px;
    }
    .form2-name{
        margin-top: 20px;
    }
    
}